@import"reset.css";
@import"skeleton.css";
@import"inner.css";
@import"color-fonts.css";
@import"elements.css";
@import"superfish.css";
@import"portfolio.css";
@import"forms.css";
@import"slider-form.css";
@import"flexslider.css";
@import"prettyPhoto.css";
@import"fancybox.css";
@import"jcarousel.css";


html, body { height:100%; }

a { color:#969696; outline:none; cursor:pointer; text-decoration:none; }

a:hover {  }

p { margin-bottom: 20px; }

img { max-width:100%; height:auto; }

/*  Header styles */
h1, h2, h3, h4, h5, h6 { color: #2A313C; display: block; font-family: 'OpenSansBold', Arial; font-weight: normal; margin-bottom: 25px; }

h1 { font-size: 22px; }

h2 { font-size: 20px; }

h3 { font-size: 18px; text-transform: capitalize; }

h4 { font-size: 16px; }

h5 { font-size: 14px; }

h6 { font-size: 12px; }

.tagline h1 { margin-bottom: 10px; font-size: 24px; line-height: 28px; font-family: 'OpenSansLight', Arial; }

.tagline h3 { margin-bottom: 10px; font-size: 18px; line-height: 28px; font-family: 'OpenSansLight', Arial; }

.tagline h4 { margin-bottom: 5px;  font-size: 16px; line-height: 28px; font-family: "OpenSansRegular", Arial, sans-serif; }

.logo h1 { float: left; margin-bottom: 0; }

h1 a { background: url("../images/logo.png") no-repeat scroll 0 0 transparent; display: block; height: 72px; text-indent: -999em; width: 140px; }


::selection {
background:#6A93AD;
color:#FFF;
}
::-moz-selection {
background:#6A93AD;
color:#FFF;
}

strong, strong a { font: 12px 'OpenSansBold', Arial; }

strong a:hover { color:#000; text-decoration:underline; }

.strong-1 a { color:#969696; }

/*=========================================================================
 GLOBAL STRUCTURE
========================================================================= */


.clear { clear:both; line-height:0; font-size:0; overflow:hidden; height:0; width:100%; }

.wrapper { width:100%; overflow:hidden; position:relative; }

.extra-wrap { overflow:hidden; display:block; }

.fleft { float:left; }

.fright { float:right; }

.alignright { text-align:right; }

.aligncenter { text-align:center; }

.alignmiddle * { vertical-align:middle; }

.sub-heading { color: #999; font: 12px 'OpenSansSemibold', Arial; padding-top: 8px; text-shadow: 1px 1px 0 #FFFFFF; text-transform: lowercase; display: block; }

.text-t-big { text-transform: uppercase; }

.ident-bot-0 { margin-bottom: 0; }

.ident-bot-1 { margin-bottom: 10px; }

.ident-bot-2 { margin-bottom: 20px; }

.ident-bot-3 { margin-bottom: 25px; }

.ident-bot-4 { margin-bottom: 30px; }

.ident-right-1 { margin-right: 18px; }

.ident-right-2 { margin-right: 15px; }

.ident-top-1 { margin-top: 10px; }

.ident-top-2 { margin-top: 20px; }

.ident-top-3 { margin-top: 30px; }


/*=========================================================================
 CONTENT
========================================================================= */

#content {  padding: 42px 0 65px 0; border-bottom: 5px solid #f1f0ed; }

#page-inner #content { padding: 30px 0 40px; }

#page1 #content { padding: 60px 0 40px; }

.list-1 li { padding-left: 26px; background: url('../images/list-marker-1.png') no-repeat 0 7px; border-bottom: 1px solid #EEEEEE; }

.list-1 li a { font-size: 12px; line-height: 30px; font-family: 'Open Sans', Arial, Tahoma, sans-serif; font-weight: bold; }

.list-1 li a:hover { text-decoration:none; }

.list-2 li { padding-left: 13px; background: url('../images/list-marker-2.png') no-repeat 0 9px; }

.list-2 li a { color: #f3aca1; font-size: 12px; line-height:24px; font-family: "Trebuchet MS", sans-serif; text-decoration:underline; }

.list-2 li a:hover { color:#fff; }

.block-ident-1 { padding-right:30px; }

.block-ident-2 { padding-right:20px; }

.block-ident-3 { padding-right:17px; }

.block-ident-4 { padding-right:20px; }

.block-1 { background: #f7f6f4; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;  }

.block-1 img { float:left; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; border-right: 5px solid #ecebe7;  }

.block-1-1 { float:left; width:154px; margin-left:16px; padding-top:26px; }

.date { line-height:18px; }

.block-2 { background: #fff; border: 1px solid #EEEEEE; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;  }

.block-2 img { float:left; width: 295px; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; border-right: 5px solid #eee;  }

.block-2-1 { float:left; width:568px; padding:20px; }

.block-3 { background: #f7f6f4; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;  }

.block-3 img { float:left; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; border-right: 5px solid #ecebe7; }

.block-3-1 { float:left; width:195px; margin-left:16px; padding-top:26px; }

.block-4 img { float:left; }

.block-4-1 { float:left; width:205px; margin-left:39px; padding-top:18px; }

.block-5 { padding-top:9px; }

.block-6 img { float:left; }

.block-6-1 { float:left; width:360px; margin-left:20px; }

.banner-1 { -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24); margin-top:3px;  }

.link-name { font: 12px/21px 'OpenSansSemibold', Arial; text-transform: uppercase; }

.link-name:hover { color:#000; text-decoration:underline; }

.shadow-1 { -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.34); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.34); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.34);  }

.rt-block-1 { display:block; }

.rt-block-4 { display:block; margin-top:-5px; }

.img-border-bg { background: #fff; display: inline-block; padding:5px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 0 0 1px #e7e7e7 inset; -moz-box-shadow: 0 0 0 1px #e7e7e7 inset; box-shadow: 0 0 0 1px #e7e7e7 inset;  }

.img-border { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; width: 100%;  }

.img-border-1 { border: 1px solid #fff; -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.30); -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.30); box-shadow: 0 0 1px rgba(0, 0, 0, 0.30);  }

.img-border-2 { display: inline-block; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.30); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.30); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.30);  }

.figure-1 a.left-image { margin-right:7px; }

.figure-1 a.right-image { margin-left:7px; }

/*  Buttons */
.button { display:inline-block; font-size: 12px; line-height:21px; font-family: "Trebuchet MS",sans-serif; color:#eb4d3a; text-decoration:underline; padding-right:16px; background: url('../images/button-arrow.png') no-repeat 100% 50%; }

.button:hover { color:#000; background: url('../images/button-arrow-hover.png') no-repeat 100% 50%; }

.link-1 { color:#969696; }

.link-1:hover {  }

/*=========================================================================
 Blog
========================================================================= */

.post-border-right { }

.post-holder { position:relative; }

.post-holder .time { display: inline-block; }

.post-holder .entry-title, .post-holder .entry-title a { font-family: 'OpenSansRegular', Arial; font-size: 18px; line-height: 24px; margin-bottom:10px; color:#4F5B70; text-decoration:none; }

.post-holder .entry-title a:hover {  }

.post-meta { border-top:1px dashed #D3D3D3; border-bottom:1px dashed #D3D3D3; padding: 10px 0; width:100%; overflow:hidden; margin-bottom:20px; }

.post-meta a { text-decoration:none; }

.post-meta a:hover { color: #000; text-decoration: underline; }

/*  parent post */

.parent { background: none repeat scroll 0 0 #FFFFFF; box-shadow: 0 0 1px #CCCCCC; margin-bottom: 30px; padding: 20px; position:relative; }

.parent-sub-img { background: url("../images/post-sub.png") no-repeat scroll 0 0 transparent; display: inline-block; height: 70px; left: -22px; position: absolute; top: -30px; width: 19px; }

.parent h5 { margin-bottom: 2px !important; }

.parent h5 a:link, .parent h5 a:visited { color: #333333; font: bold 14px 'arial'; }

.parent img { float: left; }

.parent span { font: italic 12px 'georgia'; }

.parent a.reply:link, .parent a.reply:visited { background: none repeat scroll 0 0 #EB4D3A; color: #FFFFFF; font-size: 10px; font-weight: bold; margin-left: 20px; padding: 2px 6px; text-transform: uppercase; }

.parent a.reply:hover { background: none repeat scroll 0 0 #333; }

.parent p { margin-top: 10px; overflow: hidden; }

.child { margin-left: 40px; }

.subchild { margin-left: 80px; }

/*  Addthis Widget */
.addthis_button_google_plusone { position: relative; top: -13px; }

.addthis_toolbox { float: right; text-align: right; }

.addthis_toolbox.addthis_pill_combo a { margin-top: 2px; }

.addthis_toolbox.addthis_pill_combo a.addthis_button_tweet, .addthis_toolbox.addthis_pill_combo a.addthis_counter { margin-top: 2px; }

.addthis_button_compact .at15t_compact { float: left; margin-right: 4px; }

.addthis_button_google_plusone iframe { width: 80px !important; }

.addthis_button_tweet iframe { width: 98px !important; }

.addthis_button_facebook_like iframe { width: 98px !important; }

/*=========================================================================
 Sidebar
========================================================================= */

.sidebar { float: right; padding-left: 40px; }

.sidebar h5 { border-bottom: 1px dashed #DDDDDD; border-top: 1px dashed #DDDDDD; margin-bottom: 15px; padding-bottom: 10px; padding-top: 10px; }

.sidebar-blog { float: right; padding-left: 40px; padding-top: 34px; }

.sidebar-blog h5 { border-bottom: 1px dashed #DDDDDD; border-top: 1px dashed #DDDDDD; margin-bottom: 15px; padding-bottom: 10px; padding-top: 10px; }

.search, .sidebar-social, .categories, .recent-post, .side-paragraph, .our-sponsors { float: left; padding: 0 0 40px; width: 100%; }

/* Search */
.search form { }

.search input[type="text"] { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03); border: 1px solid #CCCCCC; padding: 10px; width: 90%; }

.search p, .search div { margin-bottom: 0; }

/* Side paragraph */
.side-paragraph a { margin-right: 15px; }

/* Recent Post */
.recent-post a { margin-right: 15px; }

.recent-post .smalldate { background: url("../images/icons/cal.png") no-repeat scroll 0 2px transparent; color: #CCCCCC; display: block; font-size: 11px; font-style: italic; overflow: hidden; padding: 0 0 0 20px; }

.recent-post-block { margin-bottom:10px; display: inline-block; }

/* Our Sponsors */
.our-sponsors a { display: inline-block; margin: 0 3px 10px; }

/* Sociable */
.sidebar-social ul { }

.sidebar-social ul li { float: left; margin-right: 5px; }

.categories ul { }

.categories ul li { float: left; margin-right: 9px; padding: 2px 0; width: 117px; }

.categories ul li a:link, .categories ul li a:visited { background: url("../images/arrow.png") no-repeat scroll 0 5px transparent; color: #999999; padding-left: 20px; }

.categories ul li a:hover {  }

/* PRETTY PHOTO
========================================================================= */

/* Lightbox image */
.lightbox-image { position:relative; overflow:hidden; display:inline-block; }

.lightbox-image img { position:relative; z-index:2; }

#page1 .lightbox-image img { float:left; }

.lightbox-image span { display:block; position:absolute; left:0; top:0; width:100%; height:100%; background: url("../images/magnify.png") no-repeat scroll 50% 50% transparent; z-index:1; }


/*=========================================================================
 MAP
========================================================================= */

dl { display: block; width: 181px; }

dd span { float: right; }

dl strong { display: block; }

.map iframe { width: 100%; height: 250px; margin:0; }
 @media only screen and (min-width: 768px) and (max-width: 959px) {
 .block-ident-1 {
padding-right:0px;
}
 .block-ident-2 {
padding-right:10px;
}
 .block-ident-3 {
padding-right:0px;
}
 .block-1 img {
 width:160px;
 border-bottom: 5px solid #ecebe7;
}
 .rt-block-5 {
 display:none;
}
 .block-2 img {
 -webkit-border-radius: 3px 0 0 3px;
 -moz-border-radius: 3px 0 0 3px;
 border-radius: 3px 0 0 3px;
 
}
 .block-2-1 {
 width:406px;
}
 .block-3 img {
 width:160px;
 -webkit-border-radius: 4px 0 0 0;
 -moz-border-radius: 4px 0 0 0;
 border-radius: 4px 0 0 0;
 border-bottom: 5px solid #ecebe7;
 
}
 .block-3-1 {
 width:165px;
}
 .block-4 img {
 width: 260px;
 margin-top:16px;
}
 .block-4-1 {
 width:205px;
 margin-left:20px;
}
 .figure-1 a.left-image {
 margin-right:5px;
 width:101px;
}
 .figure-1 a.right-image {
 margin-left:5px;
 width:101px
}
 .block-6-1 {
 float:left;
 width:260px;
 margin-left:10px;
}
}
@media only screen and (max-width: 767px) {
 .donate-button {
display:none;
}
 nav {
float:none;
background:none;
}
 .donate-button {
display:none;
}
 .block-ident-1 {
padding-right:0px;
}
 .block-ident-2 {
padding-right:0px;
}
 .login {
display:none;
}
 .slogan {
display:none;
}
 .banner-1 {
position:relative;
left:50%;
margin-left:-110px;
}
 .block-1 img {
 border-right:none;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 width:100%;
 
}
 .block-1-1 {
 width:260px;
}
 .block-2 img {
 -webkit-border-radius: 4px 4px 0 0;
 -moz-border-radius: 4px 4px 0 0;
 border-radius: 4px 4px 0 0;
 border-right: none;
 
}
 .block-2-1 {
 width:260px;
}
 .block-3 img {
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 border-right: none;
 width:100%;
 
}
 .block-3-1 {
 width:260px;
}
 .block-4-1 {
 width:100%;
 margin-left:0;
}
 .block-ident-3 {
padding-right:0px;
}
 .rt-block-5 {
 display:none;
}
 .block-6 img {
 width:100%;
}
 .block-6-1 {
 float:left;
 width:280px;
 margin-left:0px;
}
 .rt-ident-bottom-1 {
 margin-bottom:30px;
}
 .block-ident-4 {
padding-right:0;
}
.sidebar {
padding-left: 0;
}
.sidebar-blog {
padding-left: 0;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
 .img-border-bg {
margin: 4px 0 20px 0;
}
 .slogan {
display:block;
margin-left: 15px;
padding-left: 15px;
}
 .block-1 img {
 border-right: 5px solid #ecebe7;
 border-radius: 4px 0 0 4px;
 border-radius: 4px 0 0 4px;
 border-radius: 4px 0 0 4px;
 width:220px;
}
 .block-1-1 {
 width:154px;
}
 .block-2 img {
 width:100%;
}
 .block-2-1 {
 width:380px;
}
 .block-3 img {
 width:210px;
 -webkit-border-radius: 4px 0 0 0;
 -moz-border-radius: 4px 0 0 0;
 border-radius: 4px 0 0 0;
 border-bottom: none;
 
}
 .block-3-1 {
 width:165px;
}
 .block-4 img {
 width: 200px;
 margin-top:16px;
}
 .block-4-1 {
 float:left;
 width:180px;
 margin-left:20px;
 padding-top:18px;
}
 .block-6 img {
 width:140px;
}
 .block-6-1 {
 float:left;
 width:260px;
 margin-left:15px;
}
 .figure-1 a.left-image {
 margin-right: 10px;
 width: 188px;
}
 .figure-1 a.right-image {
 margin-left: 10px;
 width: 188px;
}
 .rt-block-2 {
width:180px !important;
float:left;
margin-right:30px;
}
 .rt-block-3 {
width:180px;
float:left;
margin-right: 30px;
}
}
