<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>如何在控制器执行刪除语句?---XbPhp框架--争取智能化的框架,执行效率高,简单上手</title>
<meta name="keywords" content="XbPhp,XbPhp框架,PHP框架,PHP智能框架,跨平台框架" />
<meta name="description" content="XbPhp框架的宗旨是实现智能化，兼容性强,简单上手,不一样的文件缓存机制" />
<link rel="stylesheet" type="text/css" href="<{$herf}>css/style.css" />
<script type="text/javascript" src="<{$herf}>js/jquery-1.4.3.min.js"></script>
<style>
.head h1 a { 
	width: 260px; 
	height: 95px; 
	background-image: url(<{$herf}>images/logo.jpg); 
	text-indent: -9999px; 
	overflow: hidden;
}
.body .content ul p {
	font-size: 18px;
}
</style>
<{include file="header.html"}>
<div class="body">
	<div class="content">
		<ul>
			<p>我们创建一个home/controller目录下载创建一个IndexController.php,创建好,代码如下:</p>
			<pre class="brush:php; toolbar: true; auto-links: false;" style="font-size:12px">
			//必须要继承AppController
			&lt;?php  class IndexController extends AppController {
				&nbsp;&nbsp;//要加载的模型,此模型文件为数据表的名字,如 数据表的名字bc_wz,加载模型的写法如下
				&nbsp;&nbsp;public $uses = array('BcWz');
				&nbsp;&nbsp;//要自动初始化函数,必须在构造函数里面写上parent::__construct()先初始化父类
				&nbsp;&nbsp;public function _initialize() {
					&nbsp;&nbsp;&nbsp;&nbsp;parent::_initialize();
				&nbsp;&nbsp;}
				&nbsp;&nbsp; public function test() {
							&nbsp;&nbsp;&nbsp;&nbsp; //底下代码就会删除ID等于数据
							&nbsp;&nbsp;&nbsp;&nbsp;$this->BcWz->where('id=1')->delete();
				&nbsp;&nbsp;}
			} 
			?&gt;
			</pre>
			<p>这样我们在访问url:http://localhost/xbphp/Index/test/<br>
			</p>
		</ul>
	</div>
</div>
<script type="text/javascript" src="<{$herf}>js/shbrush.js"></script>
	<link type="text/css" rel="stylesheet" href="<{$herf}>css/shcore.css"/>
<link type="text/css" rel="stylesheet" href="<{$herf}>css/shthemedefault.css"/>
<script type="text/javascript">
	SyntaxHighlighter.all();
</script>
<{include file="footer.html"}>
</body>
</html>