<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>教程列表---XbPhp框架--争取智能化的框架,执行效率高,简单上手</title>
<meta name="keywords" content="XbPhp,XbPhp框架,PHP框架,PHP智能框架,跨平台框架" />
<meta name="description" content="XbPhp框架的宗旨是实现智能化，兼容性强,简单上手,不一样的文件缓存机制" />
<link rel="stylesheet" type="text/css" href="<{$herf}>css/style.css" />
<link rel="stylesheet" type="text/css" href="<{$herf}>css/content.css" />
<style>
.head h1 a { 
	width: 260px; 
	height: 95px; 
	background-image: url(<{$herf}>images/logo.jpg); 
	text-indent: -9999px; 
	overflow: hidden;
}
.body .content ul li a {
	text-decoration: none;
	color: #000;
}
.body .content ul li a:hover {
	color: red;
}
.body .content ul li {
	height: 40px;
	line-height: 40px;
}
</style>
</head>

<body>
<{include file="header.html"}>
<section id="content">
  <div class="container_12">
    <!--SITE CONTENTS-->
    <section class="grid_8 fleft">
      <div class="post-border-right">
      	<{foreach $listarr as $k => $v }>
        	<article class="post-holder">
	          <header>
	            <h2 class="entry-title"></h2>
	            <div class="post-meta">
	            	<div class="fleft">[标题]:<a href="<{$herfs}>Index/article/<{$k}>.html" target="_blank" title="<{$v}>"><{$v}></a></div>
	            	<div class="fright">发布人:<a href="#">小波</a></div>
	            </div>
	            <!--.post-meta-->
	          </header>
        	</article>
        <{/foreach}>
      </div>
    </section>
    <div class="clear" style="height:30px;"></div>
  </div>
</section>
<{include file="footer.html"}>
</body>
</html>